---
title: "Invite-Example"
date: 2017-11-04T19:23:05+01:00
draft: false
weight: 110
---

  <div class="main">
    <noscript><h3>Diese Chat-Einladung ben&ouml;tigt JavaScript.</h3></noscript>
    <h3 class="text-center" id="heading"></h3>
    <p class="text-center"><a class="btn btn-primary" id="button"></a></p>
    <input type="url" class="form-control text-center" id="url_in"></input>
    <p class="lead text-center" id="clients"></p> 
  </div>
  <script src="invite/scripts/i18n-text.min.js"></script>
  <script src="invite/scripts/main.js"></script>
